@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/utilities";

.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.14);
  transition: all 0.3s;

  &__icon {
    font-size: 4rem;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
