@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";

.story {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 3rem;
  padding-left: 4.5rem;
  font-size: 1rem;
  transform: skewX(-12deg);

  &__shape {
    height: 10rem;
    width: 10rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.8rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &:hover &__img {
    transform: translateX(-2rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    opacity: 1;
  }
}
