// COLORS
$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-white: #fff;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-light: #eee;
$color-gray-light-1: #f7f7f7;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 8rem;
