@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstracts/mixins";
@import "../../assets/sass/components/button";

.section-story {
  padding: 10rem 5rem;
  // background-color: $color-gray-light;
  position: relative;

  .row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }
    @include clearfix;
  }

  .btn-text {
    &:link,
    &:visited {
      color: $color-primary;
      font-size: 1rem;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all 0.2s;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-2px);
    }
    &:active {
      transform: translateY(0);
    }
  }
}

.bg-video {
  position: absolute;
  opacity: 0.15;
  z-index: -1;
  overflow: hidden;
  width: 100%;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
