.heading-primary {
  text-transform: uppercase;
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 60px;

  &--main {
    display: block;
    font-weight: 400;
    letter-spacing: 35px;
    font-size: 60px;
    animation: moveLeft 1s ease-out;

    /* animation-name: moveLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
  }

  &--sub {
    display: block;
    letter-spacing: 17.4px;
    font-size: 20px;
    font-weight: 700;

    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  translate: all 2s;
  letter-spacing: 2px;
  &:hover {
    transform: skewY(1deg) skewY(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1rem;
  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}
