.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}

.u-margin-top-big {
  margin-top: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 1.8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}
