@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstracts/mixins";

.popup {
  height: 98vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &__content {
    background-color: $color-white;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transition: all 0.4s 0.2s;
  }

  &__left {
    display: table-cell;
    width: 3.333333%;
  }

  &__right {
    display: table-cell;
    width: 6.666667%;
    vertical-align: middle;
    padding: 1.5rem 2rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    column-count: 2;
    column-gap: 1.5rem;
    column-rule: 1px solid $color-gray-light-1;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: $color-gray-dark;
      text-decoration: none;
      font-size: 2rem;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
