@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/abstracts/mixins";

.section-feature {
  padding: 15rem 4rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../assets/img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -4.6rem;

  & > * {
    transform: skewY(7deg);
  }

  .row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
      float: left;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }

    .col-1-of-4 {
      width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }
  }
}
