@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstracts/mixins";

.section-about {
  background-color: $color-gray-light-1;
  padding-top: 10rem;
  padding-bottom: 18rem;
  margin-top: -20vh;
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0);
  }
}

.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1.2rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
      outline: 1rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

.row {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  // .col-1-of-3 {
  //   width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  // }

  // .col-2-of-3 {
  //   width: calc(
  //     2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
  //   );
  // }

  // .col-1-of-4 {
  //   width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  // }

  // .col-2-of-4 {
  //   width: calc(
  //     2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
  //   );
  // }

  // .col-3-of-4 {
  //   width: calc(
  //     3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
  //   );
  // }
}
