@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstracts/mixins";
@import "../../assets/sass/components/button";

.section-tour {
  padding: 5rem 8rem;
  background-color: $color-gray-light-1;
  margin-top: -5rem;

  .row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }
    @include clearfix;

    [class^="col-"] {
      float: left;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }
  }
  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }
}
