@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstracts/mixins";

.footer {
  padding: 8rem 5rem;
  background-color: $color-gray-dark-3;
  color: $color-gray-light-1;
  font-size: 0.8rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__logo-img {
    width: 10rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $color-gray-dark;
    padding-top: 1.5rem;
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.9rem;
    }
  }

  &__link {
    &:visited,
    &:link {
      color: $color-gray-light-1;
      background-color: $color-gray-dark-3;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      transform: rotate(2deg) scale(1.3);
    }
  }

  &__copy-right {
    border-top: 1px solid $color-gray-dark;
    padding-top: 1.5rem;
    width: 80%;
    float: right;
  }

  .row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
      float: left;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }

    .col-1-of-2 {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }
  }
}
