@import "../../../assets/sass/abstracts/variables";

.form {
  &__radio-group {
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
  }

  &__radio-button {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 0;
    left: -0.1rem;
    display: inline-block;
    border: 3px solid $color-primary;
    border-radius: 50%;

    &::after {
      content: "";
      display: block;
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__radio-input {
    display: none;
  }
}
