@import "../../assets/sass/abstracts/variables";
@import "../../assets/sass/base/typography";
@import "../../assets/sass/base/utilities";
@import "../../assets/sass/abstracts/mixins";
@import "../../assets/sass/components/button";

.section-book {
  padding: 10rem 5rem;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );

  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.89) 0%,
        rgba($color-white, 0.89) 50%,
        transparent 50%
      ),
      url("../../assets/img/nat-10.jpg");
    background-size: cover;
    height: 30rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

    &__form {
      padding: 4rem;
      width: 50%;
    }

    .form {
      &__group:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &__radio-group {
        width: 49%;
        display: inline-block;
      }
    }
  }
}
