@import "../../../assets/sass/abstracts/variables";

.form {
  &__group:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__input {
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
    font-size: 0.8rem;
    margin-left: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
    display: block;
    transition: all 0.3s;
  }
}
